<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets  filter='cssrewrite'
        '@AppBundle/Resources/public/css/reset.css'
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/bootstrap-theme.min.css'
        '@AppBundle/Resources/public/less/*'
        output='css/general.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% set route = app.request.get('_route') %}
<ul class="nav nav-tabs">
    <li role="presentation" {% if route == 'films' %}class="active"{% endif %}><a href="{{ path('films') }}">Фильмы</a></li>
    <li role="presentation" {% if route != 'films' %}class="active"{% endif %} ><a  href="{{ path('films_dashboard') }}">Панель управления</a></li>
</ul>
<div id="wrapper" class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/scripts/jquery.min.js'
    '@AppBundle/Resources/public/scripts/bootstrap.min.js'
    '@AppBundle/Resources/public/scripts/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>